.project {
  border: solid black 1px;
  border-radius: 12px;
  border-collapse: collapse;
  padding: 12px;
  text-decoration: none;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 400px;

  max-width: 500px;
  height: 250px;
}

.description {
  color: darkgray;
}

.label {
  margin: 0;
}
